.participants {
  padding-top: 200px;
  padding-bottom: 141px;
}

.participants__head {
  display: flex;
  justify-content: space-between;
}

.participants__swiper-pagination {
  display: flex;
}

.participants__button-next,
.participants__button-prev {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  border: none;
}
/* 
.participants__button-prev {
  background-image: url(/img/carousel\ button\ left.svg);
}

.participants__button-next {
  background-image: url(/img/carousel\ button\ right.svg);
} */

.btn-swiper svg :hover {
  fill: var(--color-yelow);
}

.disabled,
.btn-disabled {
  pointer-events: none;
  fill: var(--color-gray);
}

.participants-swiper-desk {
  position: relative;
  /* width: 600px;
  height: 400px; */
  margin: 0 auto;
  /* overflow: hidden; */
}

.swiper-desk {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* .player .avatar .name .post .player-btn; */

.slider {
  position: relative;
  /* width: 1366px;
  height: 631px; */
  /* margin: 50px auto 0; */
  user-select: none;
  touch-action: pan-y;
  overflow: hidden;
}

.slider img {
  pointer-events: none;
}

.slider-list {
  margin-top: 60px;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.swiper-item {
  /* width: 394px; */
  /* height: 462px; */

  /* flex-shrink: 0; */
  /* flex-shrink: 3; */

  /* font-size: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
}

.slider-arrows {
  /* margin-top: 15px; */
  display: flex;
  text-align: center;
  align-items: center;
}

.next,
.prev {
  background: none;
  border: none;
  /* margin: 0 10px; */
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.pagination-numbers {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding: 0 18px;
}

.pagination-numbers span {
  opacity: 0.6;
}

.player {
  align-items: center;
  text-align: center;
  padding-right: 57px;
  padding-left: 37px;
}

.name {
  padding-top: 26px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.post {
  padding-top: 6px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  opacity: 0.6;
}

.btn-outline {
  margin-top: 19px;
  padding: 7px 11px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 62px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Golos Text';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
