.participants {
  padding-top: var(--section-margin);
  padding-bottom: 141px;
}

.participants__head {
  display: flex;
  justify-content: space-between;
}

.participants__swiper-pagination {
  display: flex;
}

.participants-swiper-desk {
  position: relative;
  margin: 0 auto;
}

.swiper-desk {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  overflow: hidden;
}

.slider img {
  pointer-events: none;
}

.slider-list {
  margin-top: 60px;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.player {
  align-items: center;
  text-align: center;
  padding-right: 57px;
  padding-left: 37px;
}

.name {
  padding-top: 26px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.post {
  padding-top: 6px;
  font-size: var(--m-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
  .participants {
    padding-bottom: 99px;
  }

  .slider-list {
    margin-top: 40px;
  }

  .player {
    padding-left: 24px;
  }

  .player img {
    width: 244px;
  }

  .name {
    width: 286px;
  }

  .post {
    padding-top: 9px;
  }
}
