.participants {
  padding-top: var(--section-margin);
  padding-bottom: 141px;
}

.participants__head {
  display: flex;
  justify-content: space-between;
}

.participants__swiper-pagination {
  display: flex;
}

.participants__button-next,
.participants__button-prev {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  border: none;
}

.btn-swiper svg :hover {
  fill: var(--color-yelow);
}

.disabled,
.btn-disabled {
  pointer-events: none;
  fill: var(--color-gray);
}

.participants-swiper-desk {
  position: relative;
  margin: 0 auto;
}

.swiper-desk {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  overflow: hidden;
}

.slider img {
  pointer-events: none;
}

.slider-list {
  margin-top: 60px;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.slider-arrows {
  display: flex;
  text-align: center;
  align-items: center;
}

.next,
.prev {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.pagination-numbers {
  font-size: var(--xs-text-size);
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding: 0 18px;
}

.pagination-numbers span {
  opacity: 0.6;
}

.player {
  align-items: center;
  text-align: center;
  padding-right: 57px;
  padding-left: 37px;
}

.name {
  padding-top: 26px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.post {
  padding-top: 6px;
  font-size: var(--m-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}

.btn-outline {
  margin-top: 19px;
  padding: 7px 11px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 62px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Golos Text';
  font-size: var(--xs-text-size);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
